*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*--------------
      header 
 ---------------*/

 .header{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 65px;   
 }
 
.header-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

 .header-nav > a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
 }
