* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}




/*--------------
      header 
 ---------------*/

.header {
    background: rgba(255, 144, 14, 0.1);
    padding-top: 65px;
    padding-bottom: 65px;
}


.header-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 102px;

}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.header-nav>a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
    transition: font-size 0.5s, font-weight 0.5s;
}

.header-nav>a:hover {
    font-weight: 700;
    font-size: 23px;
}


/* banner */
.banner {
    text-align: center;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}


.banner-para {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    color: #FFFFFF;
    background: #FF900E;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 50px;
    transition: font-size 0.5s ease;
}


.button:hover{
    font-size: 25px;
}



.banner-img {
    justify-content: center;
}



/*----------------- 
    Section-1 
 -------------------*/
.section-1 {
    display: flex;
    gap: 75px;
    justify-content: center;
    margin-top: 65px;
    align-items: center;
}

.section-1-div-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* Section-1-div-2 */
.title {
    color: #131313;
    font-weight: 900;
    font-size: 45px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.features {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.para {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;

}

/*---------------------
        Section-2 
 ----------------------*/

.section-2 {
    margin-top: 150px;
}

.section-2-div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.child-para {
    width: 550px;
    height: 60px;
    /* border: 3px solid black; */
    overflow: hidden;
    text-overflow: ellipsis;

}

.child {
    box-shadow: 10px 10px 35px rgb(216, 212, 212);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.child:hover{
    transform: rotate(2deg);
}


.parent-div-2 {
    background-image: url(../images/architect.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 708px;
    height: 982px;
}

.child-div {
    margin-top: 850px;
    padding: 100px 0;
    text-align: center;

}

.years-button {
    font-size: 50px;
}

/*-----------------
     Section-3 
 -----------------*/

.section-3 {
    margin-top: 250px;
}


.section-3-div-1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
}

.section-3-div-2 {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
}



.section-3-div-2>div {
    border: 2px solid orange;
    padding: 40px;
    border-radius: 8px;
}

.section-3-div-2>div:hover{
    padding: 45px;
    border: 0;
    box-shadow: 10px 10px 45px orange ;
}

.section-3-div-2>div>p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    transition: font-size 1s ease;
}

.section-3-div-2>div>p:hover{
    color: #212121;
    font-size: 25px;
    
}


.section-3-div-2>div>p.number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    transition: font-size 0.5s ease;
}

.section-3-div-2>div>p.number:hover{
    font-size: 50px;
    color: #000000;
}

/*--------------------
        Section-4 
  --------------------*/

.section-4-div-1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.section-4-div-1>h2 {
    margin-bottom: 20px;
}

.section-4-div-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.section-4-div-2>a>img.gray-img {
    filter: grayscale(100%);
}

.section-4-div-2>a>img.gray-img:hover{
    filter: grayscale(0%);
}














/*-------------
      Footer  
 --------------*/

.footer {
    background: #FFF4E7;
    width: 90rem;
    height: 20rem;
    margin-left: 230px;
    border-radius: 8px;
    margin-top: 200px;
    margin-bottom: 100px;
}


.section-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;

}

.footer-title {
    color: darkorange;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.footer-div-1-para {
    color: #8f4c00;
    font-size: large;
    font-weight: 300;
    margin-bottom: 5px;
}


.footer-div-2>h2.title {
    padding-bottom: 20px;
    padding-left: 50px;
}

.footer-div-2>p>input.other-input {
    border: 0;
    width: 15rem;
    height: 1.5rem;
    border-radius: 5px;
    transition: width 0.5s ease, height 0.5s ease;
}

.footer-div-2>p>input.email{
    margin-bottom: 5px;
}


.footer-div-2>p>input.submit {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(220, 146, 9);
    background-color: #727272;
    border: 0;
    margin-top: 10px;
    margin-left: 90px;
    transition: font-size .5s ease;
}


.footer-div-2>p>input.submit:hover{
    font-size: 18px;
    background-color: #414141;
}

.footer>p {
    text-align: center;
    padding-top: 40px;
}


/*------------------------------------------------------- Media Query----------------------------------------------------------------- */

@media screen and (max-width:576px) {
    
}

